{% extends "manager/body.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Server Keys <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Members</a></li>
      </ul>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Server Key</h1>
        dasfafsfsfds
        <h2 class="sub-header">Authentication Token</h2>
        testtest
    </div>
  </div>
</div>
{% endblock %}