{% raw %}
<script type="text/ng-template" id="entityModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ entity_kind  }} - {{ entity_id }}</h3>
    </div>
    <div class="modal-body">
        <form class="form-inline" role="form">
            <div class="form-group">
                <input type="date" class="form-control" id="date" ng-model="formData.start_date" readonly>
            </div>
            <div class="form-group">
                <input type="time" class="form-control" id="time" ng-model="formData.start_time" readonly>
            </div>
            <div class="form-group">
                ~
            </div>
            <div class="form-group">
                <input type="date" class="form-control" id="date" ng-model="formData.end_date" readonly>
            </div>
            <div class="form-group">
                <input type="time" class="form-control" id="time" ng-model="formData.end_time" readonly>
            </div>
        </form>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th width="120px">Event</th>
                    <th width="*">Timeline</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in timeline | filter:{ type: '!unlink'}">
                    <td ng-if="item.type == 'link'">{{ item.target.kind }}</td>
                    <td ng-if="item.type == 'event'">{{ entity_kind }}.{{ item.event_name }}</td>
                    <td>
                        {{ item.timestamp | date:'HH:mm:ss.sss' }} -> {{ item.timestamp+item.timestamp_length | date:'HH:mm:ss.sss' }} {{ item.timestamp_length }}ms
                        <div class="progress">
                            <div class="progress-bar" style="margin-top: {{ (item.timestamp - start_view_timestamp) / (end_view_timestamp - start_view_timestamp) * 100  | ceil}}%; width: {{ (item.timestamp - start_view_timestamp) / (end_view_timestamp - start_view_timestamp) * 100 | ceil}}%">
                            </div>
                            <div class="progress-bar progress-bar-striped" style="width: {{ item.timestamp_length+1 / (end_view_timestamp - start_view_timestamp) * 100  | ceil}}%; color: #0f0f0f;">
                                {{ item.timestamp_length }}ms
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</script>

<script type="application/javascript">
    /*
    peacock.config(function(WebSocketProvider){
        WebSocketProvider
          .prefix('')
          .uri("ws://localhost:7000/" + service_id);
    });*/
    peacock.filter('ceil', function() {
      return function(input) {
        return Math.ceil(input);
      };
    });
    peacock.controller('entityModalController', function ($scope, $modalInstance, $filter, $http, kind, id, timestamp) {
        $scope.entity_kind = kind;
        $scope.entity_id = id;


        timestamp += 500;
        var start_timestamp = timestamp - 1000;
        var end_timestamp = timestamp;
        $scope.start_timestamp = start_timestamp;
        $scope.end_timestamp = end_timestamp;

        $scope.formData = {};
        $scope.formData.start_date = $filter('date')(start_timestamp, 'yyyy-MM-dd');
        $scope.formData.start_time = $filter('date')(start_timestamp, 'HH:mm:ss');
        $scope.formData.end_date = $filter('date')(end_timestamp, 'yyyy-MM-dd');
        $scope.formData.end_time = $filter('date')(end_timestamp, 'HH:mm:ss');


        $http.get('/manager/' + service_id + '/eventviewer/_ajax/get_entity_timeline?kind=' + kind + '&id=' + id +
            '&start_timestamp=' +start_timestamp + '&end_timestamp='+ end_timestamp)
            .success(function (data){
                var timeline = data.data;

                for(var i=0; i<timeline.length; i++) {
                    if(timeline[i].timestamp_length < 0) {
                        timeline[i].timestamp_length *= -1;
                        timeline[i].timestamp -= timeline[i].timestamp_length;
                    }
                }

                /*
                var links = {};
                for(var i=0; i<data.links.length; i++) {
                    for(var link_i=0; link_i<data.links[i].links.length; link_i++) {
                        var link_data = data.links[i].links[i];
                        links[link_data.kind + "_" + link_data.id] = null;//link_data.timestamp
                    }
                }
                */

                var start_view_timestamp = Number.MAX_VALUE;
                var end_view_timestamp = 0;
                for(var i=0; i<timeline.length; i++) {
                    if(timeline[i].timestamp<start_view_timestamp) {
                        start_view_timestamp = timeline[i].timestamp;
                    }

                    if(end_view_timestamp<timeline[i].timestamp) {
                        end_view_timestamp = timeline[i].timestamp;
                    }
                }

                start_view_timestamp -= 1;
                end_view_timestamp += 1;
                var timestamp_length = end_view_timestamp - start_view_timestamp;
                $scope.start_view_timestamp = start_view_timestamp - (timestamp_length * 0.1);
                $scope.end_view_timestamp = end_view_timestamp + (timestamp_length * 0.1);
                $scope.timeline = timeline;
        });
    });

    function openEntityModal($modal, kind, id, timestamp) {
        var modalInstance = $modal.open({
            templateUrl: 'entityModalContent.html',
            controller: 'entityModalController',
            size:'lg',
            resolve: {
                kind:function() { return kind; },
                id:function() { return id; },
                timestamp:function() { return timestamp; }
            }
        });
    }
</script>
{% endraw %}
