{% extends "manager/body.html" %}
{% block js %}
{{ super() }}
<script src="/static/js/manager/analyzer.js"></script>
{% endblock %}
{% block content %}
<div class="container">
<h1 class="page-header">Analyzer <button type="button" class="btn btn-md btn-default" data-toggle="modal" data-target="#addAnalyzerModal">Add</button></h1>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th width="120px">Name</th>
                    <th width="80px">Comment</th>
                    <th width="100px">Author</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

{% raw %}
<div id="addAnalyzerModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addAnalyzerModalLabel" aria-hidden="true" ng-controller="addAnalyzerController">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Analyzer</h4>
      </div>
      <div class="modal-body">
        <h4>Input  <small>Event나 Analyzer를 입력으로 받을 수 있습니다.</small> <button class="btn btn-default btn-sm" ng-click="isAddEditView = !isAddEditView">view</button></h4>
        <div collapse="isAddEditView">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-inline" role="form" ng-submit="addInputEvent.submit()">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">Event</div>
                                <input type="text" class="form-control input-sm" placeholder="Entity Kind" ng-model="addInputEvent.kind">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-sm" placeholder="Event Name" ng-model="addInputEvent.id">
                        </div>
                        <button type="submit" class="btn btn-default btn-sm">Add</button>
                    </form>
                    <form class="form-inline" role="form" ng-submit="addInputAnalyzer.submit()">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">Analyzer</div>
                                <input type="text" class="form-control input-sm" placeholder="Analyzer Name" ng-model="addInputAnalyzer.name">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default btn-sm">Add</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" ng-repeat="item in inputList">
                    <div class="panel panel-default">
                      <div class="panel-heading" ng-if="item.type == 'event'"><span class="label label-success">event</span> `{{ item.kind }}`.`{{ item.id }}` Filter</div>
                      <div class="panel-heading" ng-if="item.type == 'analyzer'"><span class="label label-primary">analyzer</span> `{{ item.name }}` Filter</div>
                      <div class="panel-body">
                          sadffsda
                      </div>
                    </div>
                </div>
            </div>
        </div>
          입력별 필터,
          그룹

      </div>
    </div>
  </div>
</div>
{% endraw %}
{% endblock %}