<!DOCTYPE html>
<html ng-app="peacock">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Peacock</title>

    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    {% block css %}{% endblock %}

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    {% block body %}{% endblock %}
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/bower_components/angular/angular.min.js"></script>
    <script src="/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/static/bower_components/ui-utils/ui-utils.min.js"></script>
    <script src="/static/bower_components/angular-websocket/angular-websocket.js"></script>
    <script src="/static/js/peacock.js"></script>
    {% block js %}{% endblock %}
  </body>
</html>
