{% extends "manager/body.html" %}

{% block content %}
<div class="container">
    <div id="chart_container">
        <h5>Mob Damage</h5>
        <div id="chart"></div>
        <h5>CPU Load</h5>
        <div id="chart2"></div>
    </div>
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script src="/static/js/manager/dashboard.js"></script>
<script type="application/javascript">
socket.onopen = function() {
    show_graph({
        analyzer_name:'damage',
        element:'chart',
        width: 800,
        height: 200,
        renderer: 'bar',
        series: [{
            color: 'steelblue',
            name:'count',
            data: []
        }],

        x_time:'15 minute',
        range:3600000,
        group:60000,

        func:function(obj) {
            return {
                'type': 0,
                'data': obj.data
            }
        }
    });

    show_graph({
        analyzer_name:'cpu_state',
        element:'chart2',
        width: 800,
        height: 200,
        renderer: 'line',
        series: [{
            color: 'steelblue',
            name:'count',
            data: []
        }],

        x_time:'15 minute',
        range:300000,
        group:5000,

        func:function(obj) {
            if(typeof(obj.data) != 'number') return null;
            return {
                'type': 0,
                'data': obj.data
            }
        }
    });
};
</script>
{% endblock %}
